<div class="home-container">
    <app-navbar></app-navbar>
    <header class="header">
      <div class="content">
        <h1><span>Efficient</span><br />Patient Management at Your Fingertips</h1>
        <p>
          Our Patient Management System is designed to streamline the way
          healthcare professionals manage patient data. From patient registration and
          appointments to tracking medical records and billing, everything you need is
          organized in one place. Whether you're a clinic, hospital, or private practitioner,
          our system ensures that you can focus on what matters most—providing exceptional care to your patients.
        </p>
        <button class="btn">Start Managing</button>
      </div>
  
      <div class="image">
        <span class="image__bg"></span>
        <img  src="assets/img/people.png"  alt="image" />
        
      </div>
    </header>
  </div>
  